@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');



.Home{
    top: 300px;
    align-items: center;
    align-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: "Comic Neue", cursive;
    
       
    
}
.HOME.fade-up{
    opacity: 1;
    transform: translateY(0);
    }
.HOME{
    z-index: 1;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s ease-out , transform 1.5s ease-in;
}

.HomeText{
    text-align: center;
    height: 450px;
    font-size: 38px;
    width: 750px;
    gap: 20px;

}

.HomeLink{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    cursor: alias;
}

.btn-fixed1{
    background: #ffff;
}
.btn-fixed2{
    width: 135px;
}


.HomeImagecol1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.bloc1{
    align-content: center;
    align-items: center;
    display: flex;
    gap: 40px;
    padding-top: 50px;
    justify-content: center;
    position: relative;
    width: 1400px;
    height: 536.52px;
    top: 500px;
}

img{
    width: 715px;
    height: 550px;
    border-radius: 20px;
    object-fit: cover;
    transition: filter 1s ease;


}

video{
    width: 715px;
    height: 550px;
    object-fit: cover;
    border-radius: 20px;
    transition: filter 1s ease;
}

img:hover{
    filter: blur(10px);
    cursor: pointer;
}

video:hover{
    filter: blur(10px);
    cursor: pointer;

}
